<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/megha.km/Documents/AutomationWorkspace/TestNG" parallel="methods" thread-count="2">
        <classes>
            <class name="LoginTest"/>
            <class name="VaccinateTest"/>
        </classes>
    </test>
</suite>